*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;

}


html    {
    font-family:sans-serif;
}

img {
    max-width: 100%;
}

.container  {
    width: 1149px;
    margin: 0 auto;
}

:root{
    --black: #080b12;
    --pure-black: #000000;
    --light-black: #141922;
    --grey: #282828;
    --subtitle: #7d7f84;
}



/*header*/
.main-header    {
    background-color: var(--black);
    height: 5.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo       {
    margin-left: 1.1rem;
    width: 9rem;

}

.upgrade-button {
    border-radius: 25px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.65rem;
    padding-right: 2.65rem;
    margin-right: 0.2rem;
    color: white;
    background-color: transparent;
    border:2px solid white;
}

/*MAIN*/

.option {
    display: flex;
    align-items: center;
}


.content-wrapper    {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.main-wrapper  {
    display: flex;
    flex-direction: column;
    background-color: var(--light-black);
    flex-grow: 1;
}

.upper-menu {
    display: flex;
    justify-content: center;
}

.upper-menu__buttons    {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom:2.6rem;
}

.upper-menu__buttons button {
    background-color: transparent;
    border: 0px;
    color: #7d7f84;
    border-bottom: 2px solid transparent;
    padding: 0.5rem;
}


.upper-menu__buttons button:hover{
    border-bottom: 2px solid greenyellow;
    cursor:pointer;
}

.main   {
    background-color: var(--light-black);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.content-wrapper   {
    margin-right: 1rem;
}

.artisti-piu-popolari  {
    margin-bottom: 100px;
}

.recently-played h2,
.creato-per-john-doe h2,
.artisti-piu-popolari h2   {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.recently-played figure,
.creato-per-john-doe figure,
.artisti-piu-popolari figure {
    width:11.2rem;
    height:11.2rem;
}

.recently-played h4,
.creato-per-john-doe h4,
.artisti-piu-popolari h4  {
    color: #7d7f84;
    padding:0.7rem;
}

.song-title   {
    color: white;
    padding: 1rem;
}

.recently-played__card  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recently-played__card-collector    {
    display: flex;
    gap:1rem;
}

/*LATERAL NAV BAR*/

.lateral-nav-bar    {
    background-color: #000000;
    flex-shrink: 0;
    width: 231px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.lateral-nav-bar ul   {
    list-style: none;
    color: var(--subtitle);
    margin-left: 0.5rem;
}

.lateral-nav-bar ul li {
    padding: 0.5rem;
}

.playlist-title {
    display: flex;
    align-items: center;
    color: white;
}

.playlist-plus  {
    display: flex;
    align-items: center;
}

.playlist-plus i {
    padding-right: 1rem;
    font-size: 2rem;
} 

.option img {
    width: 1.8rem;
    height: 1.8rem;
}


.lateral-nav-bar ul li   {
    border-left: 2px solid transparent;
}

.lateral-nav-bar ul li:not(.playlist-title):hover   {
    border-left: 2px solid greenyellow;
    cursor: pointer;
}

.option:last-of-type    {
    margin-bottom: 2rem;
}

.home::before   {
    font-family: "Font Awesome 5 Free";
    content: "\f015";
    font-weight: 400;
}

.lateral-nav-bar__lower-section {
    color:var(--subtitle);
    margin-left: 0.5rem;
    padding: 0.5rem;
}

.lateral-nav-bar__lower-section .line   {
    border-bottom: 2px solid var(--subtitle);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.lateral-nav-bar__lower-section {
    margin-bottom: 100px;
}

/*TOOLBAR*/
.toolbar    {
    display:flex;
    background-color: var(--grey);
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
    justify-content: space-between;
}

.toolbar__left   {
    display: flex;
    align-items: center;
}

.song-info  {
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    margin:1.4rem;
}

.song-info img  {
    width: 2.62rem;
    height: 2.62rem;
}

.song-info h4   {
    color: white;
}

.song-info h3   {
    color: var(--subtitle);
}

.toolbar__left i    {
    color: var(--subtitle);
    padding: 0.5rem;
}

.toolbar__center    {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toolbar__right {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.toolbar__center i  {
    color: var(--subtitle);
    padding: 0.5rem;
}

.upper-level    {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-circle-play     {
   font-size: 2.5rem;
}

.toolbar__right i   {
    color: var(--subtitle);
    padding: 0.5rem;
}

.time-bar   {
    border-bottom: 2px solid var(--subtitle);
    width: 600px;
    position: relative;
}

.current-time-bar   {
    position: absolute;
    width: 200px;
    border-bottom: 2px solid white;
}

.volume-bar {
    border-bottom: 2px solid var(--subtitle);
    width: 200px;
    position: relative;
}

.current-volume-bar {
    position: absolute;
    width: 100px;
    border-bottom: 2px solid white;
}
